// Place all the styles related to the Brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brands-list{
    height: 400px;
    overflow: auto;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .brand-name{
        font-family: 'Open Sans';
        font-size: 25px; 
        text-align: left;
    }
    .brand-buttons{
        text-align: right;
       
    }
    .well{
        padding: 10px;
        margin-bottom: 10px;
    }
}

#menu-brand-buttons{
    padding-top: 50px;
    text-align: center;
    .boton{
        width: 228px;
        height: 49px;
        font-size: 21px;
    }
    hr{
        margin:10px;
    }
}

.brand-separator{
    margin: 5px;
}

//new page

#new-brand-form{
    margin-bottom: 400px;
    p{
        color: black;
        font-size: 25px;
        input{
            text-align: center;
            font-family: 'Roboto';
            font-size: 20px;
        }
    }
}

#empty-tag{
    text-align: center;
    font-size: 25px;
    
}

