// Place all the styles related to the Brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brands-list{
    height: 400px;
    overflow: auto;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

#buttons-brand-list{
    padding-top: 50px;
    text-align: center;
    .boton{
        width: 280px;
        height: 50px;
        font-size: 28px;
    }
}
